.sidebar-item {
  padding-left: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 100%;
}

.sidebar-item-icon {
  font-size: 1.2rem;
}

.sidebar-item-label {
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  list-style: none;
}

li:hover {
  cursor: pointer;
  background-color: rgb(216, 239, 255);
}
