.submit-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: #0077d4;
  cursor: pointer;
  border-radius: 0%;
  padding: 0.3rem 0.9rem;
  width: 7rem;

}

.submit-button:hover {
  background-color: #005fa3;
}

.submit-button-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: center;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 0.8rem;
}
